.header{
    display: flex;
    align-items: center;
    /*child items should folow flex*/
    justify-content: space-between;
    padding: 20px;
    /*to place header on top when you scroll*/
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;

}

.header__logo{
    height: 25px;
    /*object-fit: contain;*/
    margin-left: 20px;
}

.header__input{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
}

.header__input>input{
    flex: 1;
    border: none;
}

.header__inputButton{
    /*to over ride the default width of material ui icons use !important keyword after width */
    width:40px !important;
    background-color:#fafafa ;
    border-left:1px solid lightgray ;
    color: gray;
}


.header__icons{
    display: flex;
    align-items: center;
}

.header__icon{
    margin-right: 8px;
}